/*---COULEURS---*/
/*---POLICES---*/
a {
  text-decoration: none;
}

/*---HEADER---*/
.header {
  width: 100%;
  height: 60px;
  display: flex; /*repeat rule*/
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__logo {
  width: 150px;
  height: 27px;
}
.header__arrow {
  color: #000;
}
.header__arrow:hover {
  color: #99E2D0;
}

.backarrow {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/*---BANNER---*/
.locationbanner {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 5px -5px #979797;
  display: flex;
  justify-content: center;
  align-items: center;
}
.locationbanner__icon {
  margin-right: 15px;
  margin-left: 55px;
}
.locationbanner__field {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  border: none;
  background-color: transparent;
}
.locationbanner__field::-moz-placeholder {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.locationbanner__field:-ms-input-placeholder {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.locationbanner__field::placeholder {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.locationbanner__field:focus {
  outline: none;
}

.infobanner {
  box-sizing: border-box;
  width: 100%;
  height: 270px;
  display: flex; /*repeat rule*/
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 40px 45px 0px 45px;
  background-color: #f7f7f7;
}
.infobanner__heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
}
.infobanner__text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
}

.btn {
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 10px #dedede;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
}
.btn--small {
  width: 60%;
}
.btn__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  background-image: linear-gradient(355deg, #9b63df, #ff88de);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 5px 10px #dbdbdb;
}

.functionbanner {
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 450px;
  display: flex; /*repeat rule*/
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 20px 60px 20px;
}
.functionbanner__heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
}
.functionbanner__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}

.functionstep {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 75px;
  border-radius: 20px;
  background-color: #f7f7f7;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 10px #dedede;
}
.functionstep:hover::after {
  opacity: 1;
}
.functionstep:hover .functionstep__icon {
  color: #9356DC;
}
.functionstep__text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.functionstep__number {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
  background-color: #9356DC;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  position: absolute;
  left: -12px;
}
.functionstep__icon {
  color: #7e7e7e;
  padding: 0px 25px 0px 35px;
}
.functionstep::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F4EDFE;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  width: 100%;
  border-radius: 20px;
}

.menubanner {
  width: 100%;
}
.menubanner__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/*---RESTOS---*/
.restos {
  box-sizing: border-box;
  padding: 60px 20px 60px 20px;
  background-color: #f7f7f7;
}
.restos__heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
}

.container_cards {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 5px 10px #dedede;
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__new {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #107A58;
  /*think about how this could be combined with "minortext"*/
  background-color: #99E2D0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 15px 7px 15px;
  border-radius: 2px;
  position: absolute;
  top: 17px;
  right: 17px;
}
.card__btnlike {
  z-index: 9999;
  position: absolute;
  top: 200px;
  right: 20px;
  color: #FFF;
  font-size: 25px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.card__btnlike:hover + .card__btnlike--fill {
  transform: scale(1.2);
}
.card__btnlike--fill {
  background: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: transform 200ms;
  -webkit-text-stroke-width: 0px;
}
.card__heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  padding: 15px 0px 8px 15px;
}
.card__subheading {
  padding: 0px 0px 16px 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
}
.card__subheading--underline {
  padding: 10px 0px 0px 0px;
}
.card__price {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
}

/*---FOOTER---*/
.footer {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  background-color: #353535;
  padding: 30px 20px 0px 20px;
}
.footer__logo {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 24px;
}
.footer__list {
  display: flex; /*repeat rule*/
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.footer__item {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
}
.footer__item:hover {
  color: #99E2D0;
}
.footer__icon {
  width: 20px;
  padding-right: 5px;
}

/*---LOCATION SPINNER---*/
#bloc_page {
  -webkit-animation: end 3s ease-in-out;
          animation: end 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.spinner {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.spinner__circle {
  stroke: #9356DC;
  stroke-width: 4;
  fill: none;
  -webkit-animation: color 3s ease-in-out infinite, dash 1.5s ease-in-out infinite;
          animation: color 3s ease-in-out infinite, dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}
.spinner__svg {
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #9356DC;
  }
  33% {
    stroke: #FF79DA;
  }
  66% {
    stroke: #99E2D0;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #9356DC;
  }
  33% {
    stroke: #FF79DA;
  }
  66% {
    stroke: #99E2D0;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes end {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes end {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*---CARDS DECALAGE---*/
@-webkit-keyframes decalage-shift {
  from {
    transform: translateY(-10%);
  }
}
@keyframes decalage-shift {
  from {
    transform: translateY(-10%);
  }
}
.one {
  -webkit-animation: decalage-shift 500ms ease-in-out 2400ms forwards;
          animation: decalage-shift 500ms ease-in-out 2400ms forwards;
}

.two {
  -webkit-animation: decalage-shift 500ms ease-in-out 2700ms forwards;
          animation: decalage-shift 500ms ease-in-out 2700ms forwards;
}

.three {
  -webkit-animation: decalage-shift 500ms ease-in-out 2900ms forwards;
          animation: decalage-shift 500ms ease-in-out 2900ms forwards;
}

.four {
  -webkit-animation: decalage-shift 500ms ease-in-out 3100ms forwards;
          animation: decalage-shift 500ms ease-in-out 3100ms forwards;
}

@-webkit-keyframes decalage-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes decalage-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*---MENU---*/
.menu {
  margin-top: -50px;
  z-index: 2;
  position: relative;
  height: auto;
  background-color: #f7f7f7;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 30px 0px;
}
.menu__title {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: 28px;
}
.menu__course {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

/*---VERSION TABLETTE---*/
@media all and (min-width: 768px) {
  .info-func-banners {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .infobanner {
    width: 65%;
  }
  .functionbanner {
    border-radius: 20px;
    margin: 20px;
    height: 350px;
    padding: 20px;
  }
  .container_cards {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container_cards--menu {
    justify-content: flex-start;
  }
  .menu__course {
    width: 50%;
  }
  .btn--small {
    width: 50%;
    height: 70px;
    margin-top: 50px;
  }
  .btn__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 45%;
    margin: 18px;
  }
  .card--menu {
    width: 90%;
  }
}
/*---VERSION DESKTOP---*/
@media all and (min-width: 992px) {
  .main {
    display: flex;
    flex-direction: row;
  }
  .banner {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .locationbanner {
    border-radius: 20px;
  }
  .info-func-banners {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infobanner {
    width: 100%;
  }
  .menubanner {
    width: 40%;
  }
  .menubanner__img {
    border-radius: 20px;
    margin: 20px 0px 0px 40px;
  }
  .restos {
    background-color: #FFF;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
  }
  .container_cards {
    margin: 20px 0px 0px 0px;
  }
  .container_cards--menu {
    flex-direction: column;
    margin-top: 0px;
  }
  .card {
    width: 43%;
    margin: 20px;
  }
  .card--menu {
    width: 100%;
    margin: 10px;
  }
  .menu {
    width: 60%;
    margin: 20px 40px 40px 80px;
    border-radius: 20px;
  }
  .menu__course {
    width: 95%;
  }
  .menu__heading {
    padding-bottom: 20px;
  }
  .btn--small {
    width: 60%;
    height: 50px;
    margin-top: 30px;
  }
  .btn__container {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */