/*---COULEURS---*/
#bloc_page {
  background-color: #f7f7f7;
}

/*---POLICES---*/
a {
  text-decoration: none;
}

/*---HEADER---*/
.header {
  width: 100%;
  height: 60px;
  display: flex; /*repeat rule*/
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FFF;
}
.header__logo {
  width: 150px;
  height: 27px;
}
.header__arrow {
  color: #000;
  transition: all 200ms ease-in-out;
}
.header__arrow:hover {
  color: #99E2D0;
}

.backarrow {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/*---BANNER---*/
.locationbanner {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 5px -5px #979797;
  display: flex;
  justify-content: center;
  align-items: center;
}
.locationbanner__icon {
  margin-right: 15px;
  margin-left: 55px;
}
.locationbanner__field {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  border: none;
  background-color: transparent;
}
.locationbanner__field::-moz-placeholder {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.locationbanner__field:-ms-input-placeholder {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.locationbanner__field::placeholder {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.locationbanner__field:focus {
  outline: none;
}

.infobanner {
  box-sizing: border-box;
  width: 100%;
  height: 270px;
  display: flex; /*repeat rule*/
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 40px 45px 0px 45px;
  background-color: #f7f7f7;
}
.infobanner__heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
}
.infobanner__text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
}

.btn {
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 10px #dedede;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
}
.btn--small {
  width: 60%;
}
.btn__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  background-image: linear-gradient(355deg, #9b63df, #ff88de);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 5px 10px #dbdbdb;
}

.functionbanner {
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 450px;
  display: flex; /*repeat rule*/
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 20px 60px 20px;
}
.functionbanner__heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
}
.functionbanner__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}

.functionstep {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 75px;
  border-radius: 20px;
  background-color: #f7f7f7;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 10px #dedede;
}
.functionstep:hover::after {
  opacity: 1;
}
.functionstep:hover .functionstep__icon {
  color: #9356DC;
}
.functionstep__text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.functionstep__number {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
  background-color: #9356DC;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  border-radius: 20px;
  position: absolute;
  left: -12px;
}
.functionstep__icon {
  color: #7e7e7e;
  padding: 0px 25px 0px 35px;
}
.functionstep::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F4EDFE;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  width: 100%;
  border-radius: 20px;
}

.menubanner {
  width: 100%;
}
.menubanner__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/*---RESTOS---*/
.restos {
  box-sizing: border-box;
  padding: 60px 20px 60px 20px;
  background-color: #f7f7f7;
  width: 100%;
}
.restos__heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
}

.container_cards {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 5px 10px #dedede;
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__new {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #107A58;
  /*think about how this could be combined with "minortext"*/
  background-color: #99E2D0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 15px 7px 15px;
  border-radius: 2px;
  position: absolute;
  top: 17px;
  right: 17px;
}
.card__like {
  position: absolute;
  top: 190px;
  right: 20px;
}
.card__heading {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  padding: 15px 0px 8px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
}
.card__subheading {
  padding: 0px 0px 16px 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
}
.card__subheading--underline {
  padding: 10px 0px 0px 0px;
}
.card__price {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
}

.card-accueil {
  transform: scale(1);
  transition: all 350ms ease-in-out;
}
.card-accueil:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 10px #c5c5c5;
}

.heart {
  font-size: 25px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
}
.heart--fill {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 25px;
  z-index: 1;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.heart--fill:hover {
  opacity: 1;
  transform: scale(1.1);
}
.heart--empty {
  position: absolute;
  top: 32px;
  right: 32px;
}

/*---FOOTER---*/
.footer {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  background-color: #353535;
  padding: 30px 20px 0px 20px;
}
.footer__logo {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 24px;
}
.footer__list {
  display: flex; /*repeat rule*/
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
.footer__item {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
  transition: all 300ms;
}
.footer__item:hover {
  color: #99E2D0;
}
.footer__icon {
  width: 20px;
  padding-right: 5px;
}

/*--- SPINNER---*/
.spinner {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  -webkit-animation: scaled 10ms ease 4s forwards, faded 2s ease-in-out 2s forwards;
          animation: scaled 10ms ease 4s forwards, faded 2s ease-in-out 2s forwards;
}
.spinner__circle {
  stroke: #9356DC;
  stroke-width: 4;
  fill: none;
  -webkit-animation: color 2.5s ease-in-out infinite, dash 1.5s ease-in-out infinite;
          animation: color 2.5s ease-in-out infinite, dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}
.spinner__svg {
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
  width: 100%;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #9356DC;
  }
  33% {
    stroke: #FF79DA;
  }
  66% {
    stroke: #99E2D0;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #9356DC;
  }
  33% {
    stroke: #FF79DA;
  }
  66% {
    stroke: #99E2D0;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes faded {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes faded {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scaled {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes scaled {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
/*---CARDS DECALAGE---*/
@-webkit-keyframes decalage-shift {
  from {
    transform: translateY(20%);
  }
}
@keyframes decalage-shift {
  from {
    transform: translateY(20%);
  }
}
@-webkit-keyframes decalage-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes decalage-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*---MENU---*/
.menu {
  margin-top: -50px;
  z-index: 2;
  position: relative;
  height: auto;
  background-color: #f7f7f7;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 30px 0px;
  margin-right: 100px;
}
.menu__title {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-size: 28px;
}
.menu__course {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.menu__like {
  position: absolute;
  top: 32px;
  right: 32px;
}

.card-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  -webkit-animation: decalage-shift 1s ease-in-out both, decalage-opacity 1s ease-in-out both;
          animation: decalage-shift 1s ease-in-out both, decalage-opacity 1s ease-in-out both;
}
.card-menu:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.card-menu:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.card-menu:nth-child(3) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.card-menu:nth-child(4) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.card-menu:nth-child(5) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.card-menu__info {
  overflow: hidden;
}
.card-menu__price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  padding: 38px 10px 10px 0px;
  margin-left: auto;
}
.card-menu__tick {
  background-color: #99E2D0;
  height: 75px;
  margin-right: -13%;
  width: 13%;
  transition: margin-right 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-menu:hover .card-menu__tick {
  margin-right: 0px;
}
.card-menu:hover .card-menu__icon {
  -webkit-animation: tick-rotate 0.5s ease-in-out forwards;
          animation: tick-rotate 0.5s ease-in-out forwards;
}
.card-menu__icon {
  color: #FFF;
  font-size: 32px;
}
.card-menu__underline {
  width: 40px;
  height: 0.25em;
  background-color: #99e2d0;
  margin: 10px 0px 5px 0px;
}

@-webkit-keyframes tick-rotate {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes tick-rotate {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/*---VERSION TABLETTE---*/
@media all and (min-width: 768px) {
  .info-func-banners {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .infobanner {
    width: 65%;
  }
  .functionbanner {
    border-radius: 20px;
    margin: 20px 20px 0px 40px;
    height: 350px;
    padding: 30px;
  }
  .menubanner {
    margin: 0px 0px -60px 0px;
  }
  .menubanner__img {
    aspect-ratio: 5/2;
  }
  .restos {
    padding: 35px 25px 25px 25px;
  }
  .container_cards {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container_cards--menu {
    justify-content: space-around;
  }
  .menu__course {
    width: 48%;
  }
  .btn {
    padding: 0px 10px 0px 10px;
  }
  .btn--small {
    width: 45%;
    margin-top: 30px;
  }
  .btn__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 48%;
    margin: 18px 0px 18px 0px;
  }
  .card-menu {
    width: 100%;
    margin: 10px 0px 0px 0px;
  }
  .card-menu__price {
    align-items: center;
  }
  .spinner__svg {
    width: 80%;
  }
}
/*---VERSION DESKTOP---*/
@media all and (min-width: 992px) {
  .main {
    display: flex;
    flex-direction: row;
  }
  .main__menu {
    flex-direction: column;
    align-items: center;
  }
  .banner {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
  }
  .locationbanner {
    margin-left: 10px;
    border-radius: 20px;
  }
  .info-func-banners {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .infobanner {
    width: 100%;
  }
  .menubanner {
    margin: 0px 0px -60px 0px;
  }
  .menubanner__img {
    aspect-ratio: 6/2;
  }
  .restos {
    background-color: #FFF;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
  }
  .container_cards {
    margin: 10px 0px 0px 0px;
  }
  .container_cards--menu {
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0px;
  }
  .menu {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0px 0px 0px;
    border-radius: 20px;
    padding: 10px;
  }
  .menu__course {
    width: 48%;
  }
  .menu__heading {
    padding: 20px 0px 20px 20px;
  }
  .btn--small {
    width: 45%;
    height: 50px;
    margin-top: 30px;
  }
  .btn__container {
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  .footer__item {
    margin-left: 30px;
  }
  .spinner__svg {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */