/*---COULEURS---*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-fond2: #f7f7f7;
$couleur-textblack: #000000;
$couleur-shadow: #dedede;
$couleur-shadow-hover: darken($couleur-shadow, 10%);


@mixin shadow {
    box-shadow: 0px 5px 10px $couleur-shadow;
}

#bloc_page {
    background-color: $couleur-fond2;
}
/*---POLICES---*/
@mixin light-text-300($font-size: 16px) {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: $couleur-textblack;
    font-size: $font-size;
}

@mixin regular-text-700($font-size: 24px) {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: $couleur-textblack;
    font-size: $font-size;
}

@mixin minor-text-400($font-size: 16px, $color: #000) {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: $font-size;
    color: $color;
}

@mixin menu-title($font-size) {
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
    font-size: $font-size;
}

a {
    text-decoration: none;
}

/*---HEADER---*/
.header {
    width: 100%;
    height: 60px;
    display: flex;                      /*repeat rule*/
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #FFF;
    &__logo {
        width: 150px;
        height: 27px;
    }
    &__arrow {
        color: #000;
        transition: all 200ms ease-in-out;
        &:hover {
            color: $couleur-tertiaire;
        }
    }
}

.backarrow {
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

/*---BANNER---*/


.locationbanner {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    box-shadow: inset 0px 5px 5px -5px #979797;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon {
        margin-right: 15px;
        margin-left: 55px;
    }
    &__field {
        @include minor-text-400(16px, #000);
        border: none;
        background-color: transparent;
        &::placeholder {
            @include minor-text-400(16px, #000);
        }
        &:focus {
            outline: none;
        }
    }
}

.infobanner {
    box-sizing: border-box;
    width: 100%;
    height: 270px;
    display: flex;                      /*repeat rule*/
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 40px 45px 0px 45px;
    background-color: $couleur-fond2;
    &__heading {
        @include regular-text-700();
    }
    &__text {
        @include light-text-300();
    }
}

.btn {
    background-image: linear-gradient(175deg, $couleur-secondaire, $couleur-primaire);
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    @include shadow();
    @include minor-text-400(16px, #FFF);
    &--small {
        width: 60%;
    }
    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &:hover {
        cursor: pointer;
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        background-image: linear-gradient(
            355deg,
            lighten($couleur-primaire, 3%),
            lighten($couleur-secondaire, 3%)
        );
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 400ms;
        width: 100%;
        border-radius: 30px;
        box-shadow: 0px 5px 10px darken($couleur-shadow, 1%);
    }
}

.functionbanner {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    height: 450px;
    display: flex;                      /*repeat rule*/
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 20px 60px 20px;
    &__heading {
        @include regular-text-700();
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        margin-top: 10px;
    }
}

.functionstep {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 75px;
    border-radius: 20px;
    background-color: $couleur-fond2;
    position: relative;
    z-index: 1;
    @include shadow();
    &:hover {
        &::after{
            opacity: 1;
        }
        .functionstep__icon {
            color: $couleur-primaire;
        }
    }
    &__text {
    @include minor-text-400(16px, #000)
    }
    &__number {
    @include minor-text-400(16px, #FFF);
    background-color: $couleur-primaire;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    border-radius: 20px;
    position: absolute;
    left: -12px;
    }
    &__icon {
    color: #7e7e7e;
    padding: 0px 25px 0px 35px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #F4EDFE;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        width: 100%;
        border-radius: 20px;
    }
}

.menubanner {
    width: 100%;
    &__img {
        object-fit: cover;
        width: 100%;
    }
}

/*---RESTOS---*/
.restos {
    box-sizing: border-box;
    padding: 60px 20px 60px 20px;
    background-color: $couleur-fond2;
    width: 100%;
    &__heading {
        @include regular-text-700();
    }
}

.container_cards {
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    @include shadow();
    &__img {
        object-fit: cover;
        width: 100%;
        height: 170px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &__new {          
        @include minor-text-400(13px, #107A58);                         /*think about how this could be combined with "minortext"*/
        background-color: $couleur-tertiaire;
        width: fit-content;
        padding: 7px 15px 7px 15px;
        border-radius: 2px;
        position: absolute;
        top: 17px;
        right: 17px;
    }
    &__like {
        position: absolute;
        top: 190px;
        right: 20px;    
    }
    &__heading {
        @include regular-text-700(18px);
        padding: 15px 0px 8px 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__subheading {
        padding: 0px 0px 16px 15px;
        @include light-text-300(16px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &--underline {
            padding: 10px 0px 0px 0px;
        }
    }
    &__price {
        @include regular-text-700(16px);
    }
}

.card-accueil {
    transform: scale(1);
    transition: all 350ms ease-in-out; 
    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 5px 10px $couleur-shadow-hover;
    }
}

.heart {
    font-size: 25px;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: transparent;
    &--fill {
        color: transparent;
        background-image: linear-gradient($couleur-secondaire, $couleur-primaire);
        background-clip: text;
        -webkit-background-clip: text;
        font-size: 25px;
        z-index: 1;
        opacity: 0;
        transition: all 200ms ease-in-out;
        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }
}

/*---FOOTER---*/
.footer {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    background-color: #353535;
    padding: 30px 20px 0px 20px;
    &__logo {
        @include menu-title(20px);
        color: #ffffff;
        padding-bottom: 24px;
    }
    &__list {
        display: flex;                      /*repeat rule*/
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
    }
    &__item {
        @include minor-text-400(16px, #FFF);
        transition: all 300ms;
        &:hover {
            color: $couleur-tertiaire;
        }
    }
    &__icon {
        width: 20px;
        padding-right: 5px;
    }
}

/*--- SPINNER---*/
.spinner {
    width: 100%;
    height: 100%;
    background-color: $couleur-fond2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: 
        scaled 10ms ease 5s forwards,
        faded 2s ease-in-out 2.5s forwards;
    &__circle {
        stroke: $couleur-primaire;
        stroke-width: 4;
        fill: none;
        animation: 
            color 4s ease-in-out forwards, 
            dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
    }
    &__svg {
        animation: rotate 1.5s linear infinite;
    }
} 

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes color {
    100%, 0% {
        stroke: $couleur-primaire;
    }
    33% {
        stroke: $couleur-secondaire;
    }
    66% {
        stroke: $couleur-tertiaire;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}

@keyframes faded {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scaled {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}


/*---CARDS DECALAGE---*/
@keyframes decalage-shift {
    from {
        transform: translateY(20%);
    }
}

@keyframes decalage-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/*---MENU---*/
.menu {
    margin-top: -50px;
    z-index: 2;
    position: relative;
    height: auto;
    background-color: $couleur-fond2;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0px 30px 0px;
    }
    &__title {
        @include menu-title(28px);
    }
    &__course {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }
    &__like {
        position: absolute;
        top: 32px;
        right: 32px;
    }
}

.card-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    animation: 
        decalage-shift 1s ease-in-out both,
        decalage-opacity 1s ease-in-out both;
    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            animation-delay: 200ms * $i;
        }
    }
    &__info {
        overflow: hidden;
    }
    &__price {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: 100%;
        padding: 30px 10px 10px 0px;
        margin-left: auto;
    }
    &__tick {
        background-color: $couleur-tertiaire;
        height: 75px;
        margin-right: -13%;
        width: 13%;
        transition: margin-right 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:hover {
        .card-menu__tick {
            margin-right: 0px;
        }
        .card-menu__icon {
            animation: tick-rotate 0.5s ease-in-out forwards;
        }
    }
    &__icon {
        color: #FFF;
        font-size: 32px;
    }
    &__underline {
        width: 40px;
        height: 0.25em;
        background-color: #99e2d0;
        margin: 10px 0px 5px 0px;
    }
}

@keyframes tick-rotate {
    from {
        transform: rotate(-270deg);
    }
    to {
        transform: rotate(0deg);
    }
}


/*---VERSION TABLETTE---*/

@media all and (min-width: 768px) {
    .info-func-banners {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .infobanner {
        width: 65%;
    }
    .functionbanner {
        border-radius: 20px;
        margin: 20px 20px 0px 40px;
        height: 350px;
        padding: 30px;
    }
    .restos {
        padding: 35px 25px 25px 25px;
    }
    .container_cards {
        margin: 10px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        &--menu {
            justify-content: flex-start;
        }
    }
    .menu {
        &__course {
            width: 50%;
        }
    }
    .btn {
        padding: 0px 10px 0px 10px;
        &--small {
            width: 50%;
            height: 70px;
            margin-top: 50px;
        }
        &__container {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .card {
        width: 48%;
        margin: 18px 0px 18px 0px;
        &-menu {
            width: 90%;
            &__price {
                align-items: center;
            }
        }
    }
}

/*---VERSION DESKTOP---*/

@media all and (min-width: 992px) {
    .main {
        display: flex;
        flex-direction: row;
        &__menu {
            flex-direction: column;
            align-items: center;
            
        }
    }
    .banner {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .locationbanner {
        border-radius: 20px;
    }
    .info-func-banners {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infobanner {
        width: 100%;
    }
    .menubanner {
        width: 62.5%;
        margin: 0px 0px -60px 40px;
        &__img {
            border-radius: 20px;
            aspect-ratio: 5/2;
        }
    }
    .restos {
        background-color: #FFF;
        border-radius: 20px;
        margin: 20px;
        padding: 30px;
    }
    .container_cards {
        margin: 10px 0px 0px 0px;
        &--menu {
            flex-direction: column;
            margin-top: 0px;
        }
    }
    .card {
        &-menu {
            width: 100%;
            margin: 10px;
        }
    }
    .menu {
        width: 60%;
        margin: 20px 40px 40px 80px;
        border-radius: 20px;
        &__course {
            width: 95%;
        } 
        &__heading {
            padding-bottom: 20px;
        }
    }
    .btn {
        &--small {
            width: 60%;
            height: 50px;
            margin-top: 30px;
        }
        &__container {
            width: 100%;
        }
    }
}